<div class = "nav">
  <a href="/users/edit"style = "text-decoration: none" data-method="get" rel="nofollow">Edit profile</a>
  &nbsp &nbsp
  <% if @product != nil %>
    <a href="/products/<%= @product.id %>"style = "text-decoration: none" data-method="delete" rel="nofollow" data-confirm="Delete? ">Delete product</a>
    &nbsp &nbsp
  <% end %>
  <a href = "/products/new" style = "text-decoration: none"> Add a new product </a>
  &nbsp &nbsp
  <a href="/users/sign_out"style = "text-decoration: none" data-method="delete" rel="nofollow">Sign out</a>
</div>
<br>
<hr>